# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Telethon session files
*.session
*.session-journal
session/

# Logs
*.log
logs/

# Docker
.dockerignore 
.venv/pyvenv.cfg
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/Activate.ps1
.venv/bin/distro
.venv/bin/dotenv
.venv/bin/easy_install
.venv/bin/easy_install-3.8
.venv/bin/httpx
.venv/bin/normalizer
.venv/bin/openai
.venv/bin/pip
.venv/bin/pip3
.venv/bin/pip3.8
.venv/bin/pyrsa-decrypt
.venv/bin/pyrsa-encrypt
.venv/bin/pyrsa-keygen
.venv/bin/pyrsa-priv2pub
.venv/bin/pyrsa-sign
.venv/bin/pyrsa-verify
.venv/bin/python
.venv/bin/python3
.venv/bin/tqdm
